.judul{
    font-size: 20pt;
    color: #fff;
}

.waktu{
    text-align: right;
    font-size: 14pt;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1964D5;
    color: white;
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin: 0;
    text-align: center;
}


.btnkirim{
    background-color: #28D543;
    color: white;
    font-weight: bold;
}

.btnkirim:hover{
    background-color: #21b136;
    transition: 0.25s;
}

.no_antrian{ 
    font-size: 50pt;
}

.text{
    color: black;
    font-size: 9pt;

}

.d-grid {
    text-align: center;
  }

  .button-klien-layanan{
    width: 100%;
  }

.button-klien-layanan.poli-1 {
  background-color: #B50AD0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
}

.button-klien-layanan.poli-2 {
  background-color: #0AD095;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
}

.button-klien-layanan.poli-3 {
  background-color: #EA2B2B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
}

.button-klien-layanan.poli-4 {
  background-color: #2B83EA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
}

.button-klien-layanan.poli-5 {
  background-color: #F2A532;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
}
.button-klien-layanan.poli-6 {
    background-color: #6532f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-7 {
    background-color: #78ed1f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-8 {
    background-color: #25958f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-9 {
    background-color: #652fa3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-10 {
    background-color: #37872e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-11 {
    background-color: #ca5858;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-12 {
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-13 {
    background-color: #854174;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-14 {
    background-color: #7e7a34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
  .button-klien-layanan.poli-15 {
    background-color: #610550;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px 0;
  }
.button-klien-layanan:hover {
    background-color: #e7e7e7; /* Warna latar belakang tombol saat dihover */
  }

.heading > h1{
    font-size: 28pt;
    text-align: center;
    font-weight: bold;
}

.body{
    text-align: center;
}

.content{
    width: 50%;
    margin-bottom: 100px;
}

.bi{
    font-size: 40px;
    padding: 10px;
}

.btn-primer{
    width: 100%;
    text-align: center;
    background-color: #28D543;
    color: white;
    font-size: 20pt;
    transition: 0.25s;
}

.btn-primer:hover{
    background-color: #0a801b;
    color: white;
}

.tabel-feedback, .tabel-klien-color{
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
}


@media (max-width: 767px) {
.content{
    width: 100%;
}

.bi{
    font-size: 30px;
}
.waktu{
    text-align: right;
    font-size: 10pt;
}
.no_antrian{ 
    font-size: 28pt;
}
}

.rate {
    float: left;
    height: 75px;
    padding: 0 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:60px;
    color:#ccc;
}
.rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:60px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.star-rating-complete{
    color: #c59b08;
}
.rating-container .form-control:hover, .rating-container{
background: #fff;
border: 1px solid #ced4da;
}
.rating-container textarea:focus, .rating-container input:focus {
color: #000;
}
.rated {
float: left;
height: 75px;
padding: 0 10px;
}
.rated:not(:checked) > input {
position:absolute;
display: none;
}
.rated:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:30px;
color:#ffc700;
}
.rated:not(:checked) > label:before {
content: '★ ';
}
.rated > input:checked ~ label {
color: #ffc700;
}
.rated:not(:checked) > label:hover,
.rated:not(:checked) > label:hover ~ label {
color: #deb217;
}
.rated > input:checked + label:hover,
.rated > input:checked + label:hover ~ label,
.rated > input:checked ~ label:hover,
.rated > input:checked ~ label:hover ~ label,
.rated > label:hover ~ input:checked ~ label {
color: #c59b08;
}

.link-sidebar{
    padding-right: 10px;
}

/* layanan admin */
.btn-primary{
    background-color: #7D3BEC;
}
.judul-form{
    text-align: center;
    padding-top : 10px;
}
.form-lbl{
color:#000
}
.form-ctrl {
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid black;
}
.btn-cobo {
    width: 40%;
    background-color: #7D3BEC;
    height: 40px;
    border: none;
    text-align: center;
    color: white;
    border-radius: 4px;
}
.btn-danger2 {
    width: 40%;
    background-color: #ff0000;
    height: 40px;
    border: none;
    text-align: center;
    color: white;
    border-radius: 4px;
}
.btn-success {
    width: 40%;
    background-color: #3bec93;
    height: 40px;
    border: none;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.form-check{
    width: 40%;
    height: 40px;
    color: #000;
}
.form-check-label {
    border-radius: 4px;
    width: 40%;
    height: 40px;
    padding: 0 16px;
    font-size: 12pt;
    color:#000;
}
.heading-1{
    display: block;
    text-align: left;
}

/* Halaman Klien Color */
.klien-color{
    padding: 20px;
}

.update-klien-color, .overview-klien-color{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 24px #0000001c;
}

.form-klien-color{
    width: 100%;
    border: 1px solid #00000057;
    border-radius: 10px;
    height: 48px;
    color: #000;
    padding: 0 12px;
    font-size: 14pt;
}

.form-klien-color:focus{
    border: 2px solid #7D3BEC;
}

.input-color{
    width: 30px;
    height: 30px;
    border: none;
    margin: 8px;
}

.modal-title{
    text-align: center;
    padding-top: 10px;
    font-size: 20pt;
}
.form-kontrol {
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid grey;
}


/* Dropdown Profile */
.profile{
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.dropdown-toggle{
    border: none;
    background-color: transparent;

}

.form-pemanggilan, .data-antrian{
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 20px #0000001c;
    border-radius: 10px;
    padding: 30px 0;
}

.button-pemanggilan{
    width: 100%;
    padding: 0 30px;
    margin-top: 50px;
}

.button-pemanggilan > button{
    padding: 16px 0;
}

.konfirmasi{
    padding: 30px 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #0000001f;
}

.antrian-nomor{
    background-color: white;
    text-align: center;
}

.pemanggilan-pengunjung{
    color: white;
    background-color: rgb(23, 83, 122);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.nomor-saat-ini{
    background-color: white;
    color: #000;
}

.tiket-antrian{
    border: 1px solid rgb(163, 163, 163);
}

.active-menu{
    background-color: rgba(251, 251, 251, 0.178);
    border-right: 4px solid white;
    padding: 0 10px;
}
.active-menu > a{
    color: white;
}

.menu-samping{
    height: 100vh;
}

.bottom-menu{
    position: absolute;
    bottom: 0;
}